@font-face {
    font-family: 'Bahnschrift';
    src: url('../fonts/../Bahnschrift.eot');
    src: url('../fonts/../Bahnschrift.eot?#iefix') format('embedded-opentype'),
        url('../fonts/../Bahnschrift.woff2') format('woff2'),
        url('../fonts/../Bahnschrift.woff') format('woff'),
        url('../fonts/../Bahnschrift.ttf') format('truetype'),
        url('../fonts/../Bahnschrift.svg#Bahnschrift') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Google Sans';
    src: url('../fonts/../GoogleSans-Bold.woff2') format('woff2'),
        url('../fonts/../GoogleSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/../Metropolis-Bold.woff2') format('woff2'),
        url('../fonts/../Metropolis-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/../Metropolis-SemiBold.woff2') format('woff2'),
        url('../fonts/../Metropolis-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/../Metropolis-Regular.woff2') format('woff2'),
        url('../fonts/../Metropolis-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/../Metropolis-Medium.woff2') format('woff2'),
        url('../fonts/../Metropolis-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/../Metropolis-Black.woff2') format('woff2'),
        url('../fonts/../Metropolis-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/../Metropolis-ExtraBold.woff2') format('woff2'),
        url('../fonts/../Metropolis-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


